.border-fat {
    border-width: 2px !important;
}

.rounded-top-left-0 {
    border-top-left-radius: 0 !important;
}

.rounded-top-right-0 {
    border-top-right-radius: 0 !important;
}

.rounded-bottom-left-0 {
    border-bottom-left-radius: 0 !important;
}

.rounded-bottom-right-0 {
    border-bottom-right-radius: 0 !important;
}
